body {
  background-image: url('/images/pattern.svg');
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  width: 24%;
  height: 35%;
  background-color: #DCE0D9;
  margin: 0 auto;
  padding: 1%;
}

#name {
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 3%;
  border-radius: 10px;
  width: 98%;
  height: 2em;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
}

#pass {
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 3%;
  border-radius: 10px;
  width: 98%;
  height: 2em;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginButton {
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 3%;
  border-radius: 10px;
  width: 98%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  background-color: #BC261D;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

footer a {
  margin-top: 10px;
  font-size: 1.5em;
  text-decoration: none;
  color: #BC261D;
  cursor: pointer;
}

footer #copyright{
  /*position:absolute;*/
  clear: both;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
}
