body {
  background-image: url('/images/pattern.svg');
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#container {
  width: 475px;
  height: 550px;
  background-color: #DCE0D9;
  margin: 0 auto;
  padding: 25px;
  padding-top: 15px;
}

#email {
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}

#name {
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pass {
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#firstName {
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#lastName {
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#submitButton {
  padding-top: 2%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: 450px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  background-color: #BC261D;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer a {
  margin-top: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #BC261D;
}

footer #copyright{
  /*position:absolute;*/
  clear: both;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
}
