<!DOCTYPE html>

<html>

<head>
  <title>Startup Matchmaker</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600' rel='stylesheet' type='text/css'>
    <script src="/js/components/team.js"></script>
</head>

<body>

  <header>
    <h1>Startup Matchmaker</h1>
    <h3>Logout</h3>
  </header>

  <div id="nav"></div>



  <footer>
    <p id="copyright">&copy; 2015 Startup Matchmaker. Made in LA.</p>
  </footer>
  <script src="/js/controllers/team-view-controller.js"></script>
</body>

</html>
